body 
{
   
    background-color: antiquewhite;
    background-image: url("../image/plain.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
}

table, tr, th, td 
{
    border: 2px solid brown;
    border-collapse: collapse;
   
}

th, td 
{
    padding: 15px;
    text-align: center;
}

th 
{
    background-color: khaki;
    color: darkolivegreen;
}

td 
{
    background-color: lavenderblush;
    color: black;
}

h2
{
    color: saddlebrown;
    font-size: 25px;
    font-family: book antiqua;
}

h4 
{
    color: darkred;
    background-color: lightblue;
    border: 3px dotted seagreen;
    border-radius: 10px;
    padding: 8px;
    font-family: Georgia;
    text-align: center;
    display: inline-block;
}
footer 
{
    background-color: burlywood;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 40px; 
}


